* {
  /*border: 1px solid red !important;*/
}

/* ALL */
.title {
  font-family: 'Caveat', cursive;
}
.content {
  padding: 10px 0;
}
li {
  list-style-type: none;
}
/* NAV */
nav .title {
  font-size: 25px;
}
nav li {
  padding: 0 10px;
  font-weight: 600;
  line-height: 40px;
}
#book {
  border: 1px solid rgba(92, 201, 245, 1.00);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(165, 165, 170, 0.5);

}
/* HOME */
#home-banner {
  height: calc(100vh - 60px);
  width: 100%;
  background-image: url(/images/therapy1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  margin: 0 auto;
  color: #fff;
  text-shadow: 2px 2px 20px #111;
}
.center-text {
  display: table-cell;
  vertical-align: middle;
}
.banner h1 {
  font-size: 55px;
  font-weight: 100;
  font-style: italic;
  line-height: 50px;
  text-align: center;
  text-shadow: 2px 2px 15px #111;
}
.banner h3 {
  font-weight: 200;
}
.expertise {
  display: flex;
  justify-content: center;
}
.expertise i {
  padding: 10px;
  color: rgba(25, 150, 10, 1.00);
}
/* ABOUT ME */
#about-banner {
  height: calc(400px);
  width: 100%;
  background-image: url(/images/mindfulness.jpg);
  opacity: 0.85;
  background-repeat: no-repeat;
  background-position: 0 -250px;
  background-size: cover;
  display: table;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 20px #111;
}
#about-box {
  margin-top: 20px;
  display: flex;
}
#about-bio {
  background-color: rgba(165, 165, 170, 1.00);
  padding: 0;
}
#about-box h2 {
  font-weight: 800;
  font-size: 40px;
  color: #fff;
}
#about-box img {
  max-width: 400px;
}
#about-pic {
    padding: 0;
}
/* PUBLICATIONS */

/* BLOG */

/* BOOK AN APPOINTMENT */
#book-banner {
  height: calc(400px);
  width: 100%;
  background-image: url(/images/coffee.jpg);
  opacity: 0.85;
  background-repeat: no-repeat;
  background-position: 0 -240px;;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  margin: 0 auto;
  color: #fff;
  text-shadow: 2px 2px 20px #111;
}
.message-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
form input,
form textarea {
  min-width: 500px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 3px;
}
input[type=submit] {
  border: 1px solid rgba(165, 165, 170, 1.00);
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(165, 165, 170, 1.00);
}
input[type=submit]:focus {
  box-shadow: none;
}
/* FOOTER */
#plug {
  background-color: #000;
  color: #fff;
  padding: 5px 0;
}
#plug p {
  margin: 0 0 3px 0;
}
#plug a {
  padding: 0 3px;
  margin: 0;
}
#plug i {
  color: #fff;
  font-size: 20px
}
/* ADDRESS */
.address-box {
  padding: 10px 0;
}
.map-pic {
  background-image: url(/images/map.jpg);
  width: 750px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.map-text {
  font-size: 12px;
  padding: 5px 10px;
  color: #3a84df;
  background-color:#fff;
  position: relative;
  top: 10px;
  left: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(165, 165, 170, 1.00);
}
.map-text:hover {
  color: #3a84df;
}
.address {
  color: rgba(165, 165, 170, 1.00);
}
.address h4 {
  font-size: 20px;
  line-height: 30px;
}
.address i {
  padding: 10px;
}
.address li {
  font-size: 20px;
}
